<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DependencyTracker"
         connectionString="Data Source=YOURSQLSERVER\INSTANCE;Initial Catalog=DependencyTracker;Integrated Security=True;MultipleActiveResultSets=True"
         xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="RoleProvider" value="ActiveDirectory"
         xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="ActiveDirectoryDomain" value="CORP"
         xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)" />
  </system.web>
</configuration>
